body {
  background-color: aquamarine;
}

#buttonTest {
  padding: 40px;
}

#textAfterClick {
  display: none;
}

#hiddenButton {
  display: none;
}

#title {
  text-align: center;
}

#piano {
  /*center of page*/
  padding: 40px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0.5vmin solid black;
  height: 40vmin;
  width: 100vmin;
}
