body {
  background-color: aquamarine;
}

#buttonTest {
  padding: 40px;
}

#textAfterClick {
  display: none;
}

#hiddenButton {
  display: none;
}

#piano {
  /*center of page*/
  padding: absolute;
  margin: auto;
}
